html {
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(/images/tennisball2cropped.jpg);
    background-size: cover;
    height: 200px;
    margin: -8px;
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 130px;
}
header li {
    display: inline-block;
    color: white;
    border: solid white 1px;
    font-size: 2.5em;
    padding: 8px;
    border-radius: 20px;
    transition: 0.2s;
}
#rapport li {
    margin-right: 95px;
    border:rgb(22, 22, 148) 3px solid;
}
header li:hover {
    color: rgb(22, 22, 148);
    background-color:aliceblue;
}
header #rapport li:hover {
    color: white;
    background-color:rgb(23, 23, 138);
}
ul a {
    text-decoration: none;
    color:white;
}
header #rapport li {
    color: rgb(28, 56, 167);
}

/*section1 properties*/
#section1 {
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 8px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(228, 243, 254);
}
#iconlinks {
    display: flex;
    flex-direction: column;
    margin: 50px;
    font-size: 1.5em;
}
.icons {
    display: flex;
    align-items: center;
}
#section1_picture {
    margin: 20px;
    margin-top: 60px;
}
#section1_picture img {
    border-radius: 10px;
}
#section1_text h1, #explain h1 {
    font-size: 2.5em;
}

/*section2 properties*/
#section2 {
    display: flex;
    align-items: start;
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(203, 240, 255);
}
.section2_picture {
    margin: 25px;
}
.section2_picture img {
    display: block;
    border-radius: 10px;
}
#section2_text {
    margin-right: 80px;
}

/*Booking page*/
.logo_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Booking form*/
#booking {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 50px;

}
#date, #login, #players, #bana {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: aliceblue;
}
#send {
    display: block;
    margin: auto;
    width: 100px;
    padding: 8px;
    margin-top: 10px;
}
#explain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}
/*Member page*/
#section1 #rackets {
    margin: 50px;
    border-radius: 20px;
}
#member_wrapper {
    display: flex;
}

/*Price page*/
.local_links {
    display: flex;
    justify-content: center;
}
.local_links ul {
    list-style: none;
}
.local_links li {
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    border: 1px blue solid;
    background-color: rgb(6, 79, 142);
}
/*Price table*/
table {
    border-collapse: collapse;
    display: block;
    margin-bottom: 50px;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}
#pricelist_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*Signup form on signup page*/
#signup fieldset {
    display: grid;
    white-space: nowrap;
    min-width: 500px;
    padding: 30px;
    gap: 15px;
}
#account, #personal {
    grid-template-columns: min-content auto;
}
#account input, #personal input {
    max-width: 220px;
    margin-left: 40px;
}
/*Find us page*/
#map {
    margin-bottom: 100px;
}
/*footer properties*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    background-color: rgb(37, 66, 105);
    color: white;
    margin: -8px;
}
footer ul {
    list-style: none;
    font-size: 1.5em;
}
.info {
    display: flex;
    align-items: center;
    gap: 6px;
}









